<app-search-form></app-search-form>

<div class="container">

  <div class="d-flex">
    <span>
      <h4>
        Results For: <strong>   {{searchData.scheduledDepartureCity}} <i class="fa-solid fa-arrow-right"></i>
       {{searchData.scheduledArrivalCity}}   </strong>
      </h4>
    </span>
    <span class="ms-auto">
      <h4>
        <i class="fa-regular fa-calendar-days"></i> {{searchData.scheduledDepartureDate | date: 'EEE, MMMM dd, y'}}
      </h4>
    </span>
  </div>

  <div *ngIf="isEmpty">
    No Found Flight
  </div>

  <table class="table" *ngIf="!isEmpty">
    <thead>
      <tr>
        <th>Flight#</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let flight of flightResult">
        <td>{{ flight.flightNumber}}</td>
        <td>{{ flight.departureTime | date: "h:mm a"}}</td>
        <td>{{ flight.arrivalTime | date: "h:mm a"}}</td>
      </tr>
    </tbody>
  </table>
</div>
